<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Kanban App</title>
    {{template "general/header"}}
</head>
<body>
        <!-- TODO: answer here -->
        <div class="flex flex-col w-screen h-screen overflow-auto text-gray-700 bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200">
            <div class="flex items-center flex-shrink-0 w-full h-16 px-10 bg-white bg-opacity-75">
                <svg class="w-8 h-8 text-indigo-600 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01" />
                </svg>
                <input class="flex items-center h-10 px-4 ml-10 text-sm bg-gray-200 rounded-full focus:outline-none focus:ring" type="search" placeholder="Search for anything…">
                <div class="ml-10">
                    <a class="mx-2 text-sm font-semibold text-indigo-700" href="#">Projects</a>
                    <a class="mx-2 text-sm font-semibold text-gray-600 hover:text-indigo-700" href="#">Team</a>
                    <a class="mx-2 text-sm font-semibold text-gray-600 hover:text-indigo-700" href="#">Activity</a>
                </div>
                <div class="flex items-center justify-center w-8 h-8 ml-auto">
                    <a href="/logout">
                        <buton class="flex items-center justify-center w-8 h-8 ml-auto cursor-pointer font-bold">
                            Logout
                        </buton>
                    </a>
                </div>
            </div>
            <div class="px-10 mt-6">
                <h1 class="text-2xl font-bold">Kanban app</h1>
            </div>



            <div>
                <a href="/category/add">
                    <button type="submit" class="mt-3 text-lg font-semibold bg-gray-800 w-full text-white rounded-lg px-6 py-3 block shadow-xl hover:text-white hover:bg-black">
                        Add Category
                    </button>
                </a>
            </div>
            <div class="flex flex-grow px-10 mt-4 space-x-6 overflow-auto">

                {{ range $addcat := .categories }}
                <div class="flex flex-col flex-shrink-0 w-72">
                    <div class="flex items-center flex-shrink-0 h-10 px-2">
                        <span class="block text-sm font-semibold">{{ $addcat.Type }}</span>
                            <button class="flex items-center justify-center w-6 h-6 ml-auto text-indigo-500 rounded hover:bg-indigo-500 hover:text-indigo-100">
                                <a href="/task/add?category={{ $addcat.ID }}">
                                    <svg class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                    </svg>
                                </a>
                            </button>
                        <a href="/category/delete?category_id={{ $addcat.ID }}">
                            delete
                        </a>
                    </div>

                    {{ range $addtask := $addcat.Tasks }}
                    <div class="flex flex-col pb-2 overflow-auto">
                        <div class="relative flex flex-col items-start p-4 mt-3 bg-white rounded-lg cursor-pointer bg-opacity-90 group hover:bg-opacity-100" draggable="true">
                            <button class="absolute top-0 right-6 flex items-center justify-center hidden w-5 h-5 mt-3 mr-2 text-gray-500 rounded hover:bg-gray-200 hover:text-gray-700 group-hover:flex">
                                <a href="/task/update?task_id={{ $addtask.ID }}">
                                    <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                        <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                            <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
                                        </svg>
                                    </svg>
                                </a>
                            </button>
                            <button class="absolute top-0.5 right-0 flex items-center justify-center hidden w-5 h-5 mt-3 mr-2 text-gray-500 rounded hover:bg-gray-200 hover:text-gray-700 group-hover:flex">
                                <a href="/task/delete?task_id={{ $addtask.ID }}">
                                    <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </svg>
                                </a>
                            </button>
                            <span class="flex items-center h-6 px-3 text-xs font-semibold text-pink-500 bg-pink-100 rounded-full">
                                {{ $addtask.Title }}
                            </span>
                            <h4 class="mt-3 text-sm font-medium">
                                {{ $addtask.Description }}
                            </h4>
                            <div class="flex items-center w-full mt-3 text-xs font-medium text-gray-400">
                               <br>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
                {{ end }}

                <div class="flex-shrink-0 w-6"></div>
            </div>
        </div>
        <!-- Component End -->
    </div>
</body>
</html>